* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Orbitron", sans-serif;
}

body {
  background: #0d0d1a;
  color: #ffffff;
  min-height: 100vh;
  padding: 40px 20px;

  background: linear-gradient(135deg, #0b0b14 0%, #131325 100%);
}

.container {
  max-width: 1100px;
  margin: auto;
  text-align: center;
}

.title {
  font-size: 2.8rem;
  margin-bottom: 30px;
  letter-spacing: 2px;
  color: #85bfff;
  text-shadow: 0 0 10px #1a90ff;
}

.search-box {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 25px;
}

#searchInput {
  width: 300px;
  padding: 12px 18px;
  border: none;
  outline: none;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.07);
  color: white;
  font-size: 1rem;
  box-shadow: inset 0 0 8px rgba(0, 255, 255, 0.3);
  backdrop-filter: blur(5px);
}

#searchBtn {
  padding: 12px 18px;
  background: #1a90ff;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 0 10px #1a90ff;
  transition: 0.3s ease;
}

#searchBtn:hover {
  background: #0077e3;
  box-shadow: 0 0 15px #1a90ff, 0 0 25px #0077e3;
}

.error-message {
  display: none;
  color: #ff6060;
  margin-bottom: 20px;
  text-shadow: 0 0 10px red;
}

#countryContainer {
  width: 400px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
  margin-top: 20px;
  margin: auto;
}

.country-card {
  background: rgba(255, 255, 255, 0.05);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 12px rgba(0, 150, 255, 0.3);
  transition: 0.3s;
  backdrop-filter: blur(6px);
}

.country-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px rgba(0, 150, 255, 0.6);
}

.country-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 15px;
}

.country-card h2 {
  color: #85bfff;
  text-shadow: 0 0 10px #1a90ff;
  margin-bottom: 10px;
  text-align: left;
}

.country-card p {
  text-align: left;
  margin: 4px 0;
  font-size: 0.95rem;
  opacity: 0.9;
}
