* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0f0f13;
}

.container {
  width: 420px;
  background: rgba(255, 255, 255, 0.05);
  padding: 30px;
  border-radius: 16px;
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 30px rgba(0, 255, 255, 0.1);
}

h1 {
  text-align: center;
  font-family: "Orbitron";
  color: cyan;
  margin-bottom: 20px;
  letter-spacing: 2px;
}

.input-box {
  display: flex;
  gap: 10px;
}

#taskInput {
  flex: 1;
  padding: 12px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.1);
  color: white;
}

#addBtn {
  padding: 12px 20px;
  border: none;
  background: cyan;
  color: #000;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
}

#addBtn:hover {
  background: #00b7b7;
}

#taskList {
  list-style: none;
  margin-top: 25px;
}

#taskList li {
  background: rgba(255, 255, 255, 0.08);
  padding: 12px 14px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  border-radius: 8px;
  border-left: 3px solid cyan;
}

.delete-btn {
  padding: 6px 12px;
  background: #ff4f4f;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.delete-btn:hover {
  background: #ff2d2d;
}
